.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f07855;
}

.navbar li {
  list-style: none;
  color: #231f20;
}

.navbar li a {
  text-decoration: none;
  color: #231f20;
  padding: 0.5em 1em 0.5em 1em;
  display: block;
}

.navbar li a:hover {
  color: #f07855;
  background-color: #fff;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #f07855;
}

.banner {
  margin: auto;
  padding: 1em;
  height: 5em;
  background: url("/banner.png") no-repeat;
}
.banner:hover {
  background: url("/banner-hover.png") no-repeat;
}

@media (max-width: 400px) {
  .navbar {
    flex-direction: column;
  }
  .navbar ul {
    flex-direction: column;
  }
}
