:root {
  --black: #342f2c;
  --darkGrey: #423e3a;
  --grey: #6b6a65;
  --darkOrange: #f18149;
  --orange: #ef9849;
  --darkBeige: #c1a18a;
  --beige: #f6e7de;
  --darkBlue: #5b7a8c;
  --blue: #768a88;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "roboto";
  color: var(--beige);
  background: url("/tile.png") repeat;

  background-color: var(--black);
}

h1,
h2,
h3 {
  font-family: "aharoni";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Aharoni";
  src: url("/fonts/Aharoni/Aharoni-Bold.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Condensed.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
