.heading a {
  margin: auto;
  color: #231f20;
  background-color: #f07855;
  max-width: 35%;
  padding: 0.25rem;
}

.headingLink a {
  color: #231f20;
  background-color: #f07855;
  max-width: 75%;
  padding: 0.25rem;
}

.headingLink a:hover {
  color: #f07855;
  background-color: #fff;
}
